BASE_DOMAIN= # Base domain of the backend API
BASE_URL= # e.g. http://localhost:8200/api/v1

# For IOS Real Devices
# BASE_URL=http://192.168.50.229:8200/api/v1 # use system ip address for this
# WEB_SOCKET_URL=ws://192.168.50.229:8200
