# Environment variables for Docker Compose
MONGODB_URL= # URL to connect with the MongoDB instance

# Email Configuration (Ethereal)
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=
MAIL_STARTTLS=
MAIL_SSL_TLS=
