fastapi>=0.100.0
uvicorn[standard]>=0.23.0
motor>=3.3.0
redis>=5.0.0
pydantic>=2.0.0
email-validator>=2.1.0.post1
pydantic-settings>=2.0.0
python-multipart>=0.0.6
python-jose[cryptography]>=3.3.0
bcrypt==4.0.1
passlib[bcrypt]>=1.7.4
debugpy>=1.8.0
loguru>=0.7.0
ultralytics>=8.4.14
shapely>=2.0.0
httpx>=0.24.0
sse-starlette>=1.6.0
